block variables

doctype 5
html
  head
    meta(charset='UTF-8')
    meta(name='cgh-csrf-token', content=csrf_token)
    title= title
    != css('application')
    != css('application.admin')
    != js('application')
    != js('application.admin')
  body(class=printable?'printable':null)
    .container
      .header
        a.logo(href='/') 首页
        .user
          - if (current_admin)
            [管理员]&nbsp;
            = current_admin.username
            &nbsp;|&nbsp;
            a#adminlogout(href='javascript:;') 退出登录
      ul.nav
        li
          a.first.products(href='/') 红酒库
        li
          a(href='/SysAdmin', class=!belongs_to?'active':'') 后台首页
        - if (current_admin)
          li
            a(href='/SysAdmin/orders', class=belongs_to=='orders'?'active':'') 所有订单
          li
            a(href='/SysAdmin/users', class=belongs_to=='users'?'active':'') 用户管理
          li
            a(href='/SysAdmin/orders/export', class=belongs_to=='orders_export'?'active':'') 导出订单
        li.clearfix
      block content
      - if (session && session.messages && session.messages.length > 0)
        - var msgs = ''
        - while (message = session.messages.pop())
          - for (msg in message)
            - if (message[msg])
              - msgs += 'toastr["' + msg + '"](unescape("' + escape(message[msg]) + '"));'
        - if (msgs)
          != '<script>' + msgs + '</script>'
      .copy
        | &copy; 2013 红酒室
        = ' '
        a(href='/Sitemap.xml') Sitemap
