block variables

doctype 5
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title= title + '-' + configs.title_suffix
    meta(name='keywords', content=(keywords || configs.default_keywords))
    meta(name='description', content=(description || configs.default_description))
    meta(name='cgh-csrf-token', content=csrf_token)
    != css('application')
    != js('application')
  body
    noscript
      .head_warning
        | 重要：您需要在您的浏览器上启用 JavaScript 才可正常访问本网站。
    .container
      .header
        a.logo(href='/') 首页
        .user
          - if (current_user)
            a(href='/my_account')= current_user.alias || current_user.username
            &nbsp;|&nbsp;
            a(href='/orders') 我的订单
            &nbsp;|&nbsp;
            a#logout(href='javascript:;') 退出登录
          - else
            a(href='/orders') 登录并查询我的订单
          - if (!hide_header_cart)
            &nbsp;|&nbsp;
            #headerCart.cartInfo
              span.none_if_mobile 购物车
              | （
              span.simpleCart_quantity 0
              | ）
            #cartPopover
              #triangle
              .simpleCart_items
              #cartData.clearfix
                .left
                  strong 数量：
                  span.simpleCart_quantity
                .right
                  strong 总价：
                  span.simpleCart_total
              #popoverButtons.clearfix
                a.hudbtn.primary.left(href='/cart') 查看详细并结账
      ul.nav
        li.none_if_mobile
          a.first.products(href='/wine', class=belongs_to=='wine'?'active':'') 酒库
        li
          a(href='/', class=belongs_to=='/'?'active':'') 首页
        li.none_if_mobile
          a() 超值组合
        li.none_if_mobile
          a() 送礼区
        li.none_if_mobile
          a(href='/grand-cru', class=belongs_to=='grand-cru'?'active':'') 波尔多列级名庄
        li.none_if_mobile
          a() 培训班
        li
          a(href='/about', class=belongs_to=='about'?'active':'') 公司简介
        li
          a(href='/contact', class=belongs_to=='contact'?'active':'') 联系我们
        li.clearfix
      block content
      - if (session && session.messages && session.messages.length > 0)
        - var msgs = ''
        - while (message = session.messages.pop())
          - for (msg in message)
            - if (msg === 'options') 
              - for (opt in message[msg])
                - msgs = 'toastr.options.' + opt + '=' + (typeof(message[msg][opt]) === 'string' ? '"' + message[msg][opt] + '"' : message[msg][opt]) + ';' + msgs;
            - else if (message[msg])
              - msgs += 'toastr["' + msg + '"](unescape("' + escape(message[msg]) + '"));'
        - if (msgs)
          != '<script>if(toastr){' + msgs + '}</script>'
      - if (session && session.empty_cart)
        != '<script>if(simpleCart)simpleCart.empty();</script>'
        - session.empty_cart = null;
      != '<script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src=\'"+_bdhmProtocol+"hm.baidu.com/h.js%3Fa11a0b92f2eea4949b7c2bd808fa27b8\' type=\'text/javascript\'%3E%3C/script%3E"));</script>'
      .footer.none_if_mobile
        .footer-body
          .nboxes
            .nbox
              .nbox_l 100%原瓶进口
            .nbox
              .nbox_l 自建物流配送
            .nbox
              .nbox_l 满200元免运费
            .nbox
              .nbox_l 7天包退15天包换
          .nboxes.n3
            .nbox
              .nbox_l
                a.ftelink(href='/')
                  span.ci.ci-tel
                  | 0757-22148000
            .nbox
              .nbox_l 周一至周日9:00-21:30
            .nbox
              .nbox_l
                a.fcolink(href='/')
                  span.ci.ci-chat
                  | 咨询在线客服
      .copy
        | &copy; 2013 红酒室
        = ' '
        a(href='/Sitemap.xml') Sitemap
      .zxkf.none_if_mobile
        .zxkfbtn
        .zxkfpanel
          .zxkfpanel_h
          .zxkfpanel_c
            .zxkfpanel_c_2
              p
                | 客户咨询时间
                br
                | 9:00到
                br
                | 21:30
              a(target='_blank', href='http://wpa.qq.com/msgrd?v=3&uin=944310236&site=qq&menu=yes')
                img(border='0', src='http://wpa.qq.com/pa?p=2:904381538:41', alt='点击这里给我发消息', title='点击这里给我发消息')
              a(target='_blank', href='http://wpa.qq.com/msgrd?v=3&uin=944310236&site=qq&menu=yes')
                img(border='0', src='http://wpa.qq.com/pa?p=2:904381538:41', alt='点击这里给我发消息', title='点击这里给我发消息')
              a(target='_blank', href='http://wpa.qq.com/msgrd?v=3&uin=443816784&site=qq&menu=yes')
                img(border='0', src='http://wpa.qq.com/pa?p=2:443816784:41', alt='点击这里给我发消息', title='点击这里给我发消息')
          .zxkfpanel_f
