block variables
  title = "查看购物车"
  hide_header_cart = true

extends layouts/default

block content
  .checkout
    h2.title 我的购物车
    .cartaccontainer
      input#cartac.typeahead(type='text', placeholder='输入关键词快速添加商品')
    .empty_cart.hidden 您的购物车是空的。
    .cart
      #shopping_cart.simpleCart_items.table_container
      .col1of3
        h2.title 配送方式
        .form.delivery
          - each delivery, delivery_name in configs.delivery
            .form-group.delivery_method(data-min=delivery.min, data-max=delivery.max, class=(delivery.min||delivery.max)?'disabled':null)
              input(id=delivery_name, type='radio', name='delivery', value=delivery_name, disabled=(delivery.min||delivery.max)?'disabled':null)
              label.option(for=delivery_name)=delivery.name
              - if (delivery.desc)
                .labeldesc=delivery.desc
      .col2of3
        h2.title 另购礼盒
        .productfilter.smallerpf
          - each category, category_key in products
            - each product, model in category
              - if (product.show_in_cart)
                .pfitem
                  a.addtocartbtn(href=product.path, data-category=category_key, data-model=model)
                    .pfimg
                      img.lazy(alt=product.name, data-src=product.image)
                    .pfname=product.name
                    .pfprices
                      - if (product.original_price && product.original_price > product.price)
                        em.pforigprice.toCurrency= product.original_price
                      em.pfprice.toCurrency= product.price
                    .pfmask
                      .pfdesc
                        =product.title
                        br
                        =product.description
      .clearfix
      .pad10
      .shopping_cart_buttons.bottom_buttons
        a.checkout_button.hudbtn.primary(href='javascript:;') 结账
