block variables
  title = "查看购物车"
  hide_header_cart = true

extends layouts/default

block content
  .checkout
    h2.title 我的购物车
    .cartaccontainer
      input#cartac.typeahead(type='text', placeholder='输入关键词快速添加商品')
    .empty_cart.hidden 您的购物车是空的。
    .cart
      #shopping_cart.simpleCart_items.table_container
      h2.title 配送方式
      .form.delivery
        - each delivery, delivery_name in configs.delivery
          .form-group.delivery_method(data-min=delivery.min, class=delivery.min?'disabled':null)
            input(id=delivery_name, type='radio', name='delivery', value=delivery_name, disabled=delivery.min?'disabled':null)
            label.option(for=delivery_name)=delivery.name
      .shopping_cart_buttons.bottom_buttons
        a.checkout_button.hudbtn.primary(href='javascript:;') 结账
