#typeselector
  - filters = {}
  - category = products[show_only_category]
  - each product, model in category
    - if (product.filter)
      - each value, filter in product.filter
        - filters[filter] = filters[filter] || []
        - if (value)
          - each item in value.split('、')
            - if (filters[filter].indexOf(item) === -1)
              - filters[filter].push(item)
  table.filtertable
    - count = 0
    - each values, item in filters
      tr
        td.itemtd=item
        td.valtd
          - if (count === 0)
            .hint.none_if_mobile
              | 点选项目进行筛选，再次点击取消。
          - if (count === Object.keys(filters).length - 1)
            .hint.none_if_mobile
              .all_listed
                | 已列出酒库中全部
                span.total_items 0
                | 支酒。
              .not_all_listed.hidden
                | 已显示酒库中
                span.total_items 0
                | 支酒中的
                span.visible_items 0
                | 支。
                a.showall(href='#') 显示全部
          a.active(data-filter='.'+item+'不限', href='#') 不限
          - each val in values.sort()
            a(data-filter='.'+val, href='#')=val
      - count++
#productfilter.productfilter.filtered
  - category = products[show_only_category]
  - each product, model in category
    - filter = ''
    - if (product.filter)
      - each value, item in product.filter
        - if (value)
          - filter+=item + '不限 ' + value.replace(/、/g, ' ') + ' '
      .pfitem.filtered_item(class=filter)
        a(href=product.path)
          .pfimg
            img(alt=product.name, data-src=product.image)
          .pfname=product.name
          .pfprices
            - if (product.original_price && product.original_price > product.price)
              em.pforigprice.toCurrency= product.original_price
            em.pfprice.toCurrency= product.price
          .pfmask
            .pfdesc
              =product.title
              br
              =product.subtitle
              br
              =product.description
  .clearfix
