block variables
  title = lists.page.title
  keywords = lists.page.keywords
  description = lists.page.description

extends ../layouts/default

block content
  #typeselector
    - filters = {}
    - each category, category_key in lists.list
      - each product, model in category
        - if (product.filter)
          - each value, filter in product.filter
            - filters[filter] = filters[filter] || []
            - each item in value.split('、')
              - if (filters[filter].indexOf(item) === -1)
                - filters[filter].push(item)
    table.filtertable
      - count = 0
      - each values, item in filters
        tr
          td.itemtd=item
          td.valtd
            - if (count === Object.keys(filters).length - 1)
              .hint.none_if_mobile
                .all_listed
                  | 已列出酒库中全部
                  span.total_items 0
                  | 支酒。
                .not_all_listed.hidden
                  | 已显示酒库中
                  span.total_items 0
                  | 支酒中的
                  span.visible_items 0
                  | 支。
            a.active(data-filter='.'+item+'不限', href='#') 不限
            - each val in values.sort()
              a(data-filter='.'+val, href='#')=val
        - count++
  .productlist.filtered
    - each category, category_key in lists.list
      - each product, model in category
        - product = products[category_key][model]
        - list_product = lists.list[category_key][model]
        - if (product)
          - filter = ''
          - if (list_product.filter)
            - each value, item in list_product.filter
              - filter+=item + '不限 ' + value.replace(/、/g, ' ') + ' '
          .plitem.filtered_item(class=filter)
            a.plimg(href=product.path)
              img(src=product.image)
            .pltitle=product.title
            .plsubtitle=product.subtitle
            - if (list_product.param && typeof(list_product.param) === 'object' && Object.keys(list_product.param).length > 0)
              .plparams
                - each val, key in list_product.param
                  - if (val !== null)
                    span.pltip
                      span.plkey=key
                      span.plval=val
            .plprices
              - if (product.original_price && product.original_price > product.price)
                .plorigprice
                  | 市场价：
                  em.toCurrency= product.original_price
              .plprice
                | 优惠价：
                em.toCurrency= product.price
            .plinfo=list_product.info
            .plbuttons
              a.hudbtn.primary(href=product.path) 查看详情
    .clearfix
