block variables
  title = "产品"

extends ../layouts/default

block content
  - var product = products[category][model];
  .pview
    #pslider.sliderkit
      //-
        .sliderkit-nav
          .sliderkit-nav-clip
            ul
              - each slide in product.slides
                li
                  a(href='#', title=product.name)
                    img(src=slide, alt=product.name)
      .sliderkit-panels
        - each slide in product.slides
          .sliderkit-panel
            a(href='#d', title=product.name)
              img.psimg(src=slide, alt=product.name)
        .sliderkit-btn.sliderkit-go-btn.sliderkit-go-prev
          a(href='#', title='上一张图片')
            span 上一张图片
        .sliderkit-btn.sliderkit-go-btn.sliderkit-go-next
          a(href='#', title='下一张图片')
            span 下一张图片
    .pinfo
      .ptitle
        h2= product.title
        h5= product.subtitle
        h5 ID: #{product.shopid}
      - if (product.original_price && product.original_price > product.price)
        .pprice
          .original_price
            span.item 原价:
            span.price
              em.toCurrency= product.original_price
              | 元
          span.item 优惠价:
          span.price
            em.toCurrency= product.price
            | 元
      - else
        .pprice
            span.item 价格:
            span.price
              em.toCurrency= product.price
              | 元
      .paction
        a.addtocartbtn.hudbtn.primary(href='/cart', data-category=category, data-model=model) 放入购物车
        a.addtocartbtn.redirects.hudbtn.alt(href='/cart', data-category=category, data-model=model) 立即购买
      - if (product.side_html)
        .psidecontent
          != product.side_html
      - if (product['规格'])
        ul.specs
          - var count = 0;
          - each spec, spec_k in product['规格']
            - if (spec)
              li(class='spec spec-'+count, title=spec_k+': '+spec)
                strong=spec_k
                =spec
            - count++;
    .clearfix
  .pdetails
    .pdselector
      .selects
        a.active(href='javascript:;') 商品描述
        a(href='javascript:;') 酒庄（产地）
        a(href='javascript:;') 购买须知
        a(href='javascript:;') 物流配送
        .clearfix
    .pdpages
      .pdpage
        != markdown(product['商品描述']).replace(/\n/g, '')
      .pdpage.hidden
        != markdown(product['酒庄介绍']).replace(/\n/g, '')
      .pdpage.hidden
        p 关于真假酒：
        p 红酒室所售酒品为100%原瓶进口葡萄酒，为杜绝市场真假酒和国内灌装问题，红酒室也致力引导客户学习辨别真假葡萄酒；若发现在本商城出售假酒或者有不发商家盗用红酒室名义出售假葡萄酒，请尽快联系客服或致电消费者投诉举报专线电话12315。
        p 关于包装：
        p 因为我们专车配送不存在破损问题，因此红酒室高档耐用牛皮纸袋包装发货，送礼方便大体；同时也响应社会绿色环保号召，绝不用塑料包装，共同构建绿色和谐顺德。
        p 关于发货：
        p 逢星期二、四、六为发货日，发货日进行全区专车派送，专车派送更保证酒质哦！如非发货日急需用酒可加35元下“半日达”指令，我们在半日之内送货上门。派送前工作人员会电话提示收取货物。
        p 关于签收：
        p 本商城提供支付在线支付和货到付款2种支付方式，签收货物前请对照收货单点清所购酒品，现金也要当面点清；自签收日起支持“7天包退，15天包换”政策。
      .pdpage.hidden
        p 常见问题
  - if (product.recommendations instanceof Array)
    .precommend
      - each recommendation in product.recommendations
        - if (recommendation = recommendation.match(/^\/(.*)\/(.*)$/))
          - category = recommendation[1]
          - model = recommendation[2]
          - if (products[category] && products[category][model])
            - product = products[category][model]
            .recommendation
              a(href='/#{category}/#{model}')
                img(src=product.images[0])
                br
                =product.name
      .clearfix
